*,*:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #020204;
    font-family: 'Jost', sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: #fff;
}

.btn {
    min-width: 200px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    letter-spacing: 0 1em;
    text-transform: uppercase;
    border-radius: 10px;
    transition: background-color .2s ease;
}

.btn-main {
    background-color: #C7A17A;
}

.btn-main:hover {
    background-color: #aa8968;
}

.btn-secondary {
    border: 1px solid #666681;
    transition: background-color .2s ease;
}

.btn-secondary:hover {
    background-color: #666681;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #32323D;
}

.header__line {
    border-bottom: 1px solid #32323D;
}

.header__line-wrapper {
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    border-bottom: 1px solid #32323D;

}

.header__lng {
    display: flex;
}

.header__lng a {
    margin-right: 10px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 10px;
}

.header__lng a.active {
    color: #C7A17A;
}

.header__phone {
    font-weight: 600;
    color: #fff;
    font-size: 14px;
}

.header__wrapper {
    height: 90px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header__block {

}

.nav {
    display: flex;
}

.nav__link {
    margin-right: 35px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    transition: color .2s ease;
}

.nav__link:hover {
    color:#C7A17A
}

.nav__link:last-child {
    margin-right: 0;
}

.nav__link.active {
    color:#C7A17A;
    ;
}

.logo {

}

.logo img {
    height: 54px;
}

.header__block {
    width: 40%;
}

.header__block.right {
    display: flex;
    justify-content: flex-end;
}

.header__actions {
    display: flex;
    align-items: center;
}

.header__link {
    margin-right: 30px;
    position: relative;
}

.header__link:last-child {
    margin-right: 0;
}

.header__link img {
    display: block;
}

.header__link-event {
    width: 6px;
    height: 6px;
    background-color: #C7A17A;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    right: -3px;
}


/* FINISH HEADER */



.intro {
    background: no-repeat;
    background-size: cover;
}

.intro__wrapper {
    padding: 20px 0;
    min-height: 720px;
    display: flex;
    align-items: center;
}

.intro__block {
    max-width: 600px;
}
.intro__title {
    margin: 0 0 35px;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.4;
}

.intro__text {
    margin: 0 0 35px;
    font-size: 18px;
}

.intro__actions {
    display: flex;
}


.intro__actions .btn-main{
    margin-right: 20px;
}