*,*:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #020204;
    font-family: 'Jost', sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: #fff;
}

.btn {
    min-width: 200px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    letter-spacing: 0 1em;
    text-transform: uppercase;
    border-radius: 10px;
    transition: background-color .2s ease;
}

.btn-main {
    background-color: #C7A17A;
}

.btn-main:hover {
    background-color: #aa8968;
}

.btn-secondary {
    border: 1px solid #666681;
    transition: background-color .2s ease;
}

.btn-secondary:hover {
    background-color: #666681;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #32323D;
}

.header__line {
    border-bottom: 1px solid #32323D;
}

.header__line-wrapper {
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    border-bottom: 1px solid #32323D;

}

.header__lng {
    display: flex;
}

.header__lng a {
    margin-right: 10px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 10px;
}

.header__lng a.active {
    color: #C7A17A;
}

.header__phone {
    font-weight: 600;
    color: #fff;
    font-size: 14px;
}

.header__wrapper {
    height: 90px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header__block {

}

.nav {
    display: flex;
}

.nav__link {
    margin-right: 35px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    transition: color .2s ease;
}

.nav__link:hover {
    color:#C7A17A
}

.nav__link:last-child {
    margin-right: 0;
}

.nav__link.active {
    color:#C7A17A;
    ;
}

.logo img {
    height: 54px;
}

.header__block {
    width: 40%;
}

.header__block.right {
    display: flex;
    justify-content: flex-end;
}

.header__actions {
    display: flex;
    align-items: center;
}

.header__link {
    margin-right: 30px;
    position: relative;
}

.header__link:last-child {
    margin-right: 0;
}

.header__link img {
    display: block;
}

.header__link-event {
    width: 6px;
    height: 6px;
    background-color: #C7A17A;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    right: -3px;
}


/* FINISH HEADER */



.intro {
    margin-bottom: 60px;
    background: no-repeat;
    background-size: cover;
    position: relative;
}

.intro::after {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(2, 2, 4, 0.55);
}

.intro__wrapper {
    padding: 20px 0;
    min-height: 720px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.intro__block {
    max-width: 600px;
}
.intro__title {
    margin: 0 0 35px;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.4;
}

.intro__text {
    margin: 0 0 35px;
    font-size: 18px;
}

.intro__actions {
    display: flex;
}


.intro__actions .btn-main{
    margin-right: 20px;
}

.info__block {
    margin-bottom: 80px;
    display: flex;
    background-color: #14141D;
    border-radius: 10px;
}

.info__img {
    border-radius: 10px 0 0 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info__img-wrapper {
    position: relative;
}

.info__img-wrapper:after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: rgba(2, 2, 4, 0.55);
}

.info__item {
    padding: 30px;
}
.info__title {
    padding-bottom: 15px;
    font-size: 24px;
    font-family: Jost;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.45;
}


.info__text {
    max-width: 500px;
    color: #DFDFDF;
    font-size: 18px;
    font-family: Jost;
}
/* finish info */


.block__title {
    margin: 0 0 30px;
    margin-bottom: 40px;
    color: #FFF;
    font-size: 40px;
    font-family: Jost;
    font-weight: 900;
    line-height: 144%;
    text-transform: uppercase;
}

/* products */

.block__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px 60px;
}
.products__block {
    margin-bottom: 20px;
    width: 33.33%;
    padding: 0 10px;
}
.products__item {
    display: block;
    padding: 20px;
    border-radius: 10px;
    background: #14141D;
    transition: background-color .2s ease;
}

.products__item:hover {
    background-color: #20202f;
}

.products__img {
    max-height: 200px;
    min-width: 100px;
    display: block;
    margin: 0px auto 40px;
}

.products__title {
    margin: 0 0 25px;
    color: #FFF ;
    font-size: 24px;
    font-family: Jost;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.2;
}
.products__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.products__price {
    display: flex;
    padding-right: 20px;
    color: #FFF;
    font-size: 18px;
    font-family: Jost;
    text-transform: uppercase;
}

.products__price del {
    margin-left: 30px;
    color: #818181;
}
.products__favorite {
    background: none;
    padding: 0;
    border: none;
    cursor: pointer;
}

/* /products */


/* NEWS */

.news__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px
    margin-bottom: 60px;
}

.news__block {
    width: 33.33%;
    padding: 0 10px;
    margin-bottom: 20px;
}

.news__title {
    margin: 0 20px 10px;
    color: #FFF ;
    font-size: 24px;
    font-family: Jost;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.2;
}

.news__img {
    height: 240px;
    width: 100%;
    object-fit: cover;
    padding-bottom: 10px;
}

.news__item {
    min-height: 100%;
    display: block;
    border-radius: 10px;
    background: #14141D;
    width: 386px;
    height: 465px;
    flex-shrink: 0;
    transition: background-color .2s ease;
}


.news__item:hover {
    background-color: #20202f;
}

.news__text {
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    color: #DFDFDF;
    font-size: 18px;
    font-family: Jost;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* /NEWS END */


.footer {
    border-top: 2px solid #14141d;
    padding-top: 80px;
    padding-bottom: 60px;
}

.footer__wrapper {
    display: flex;
    margin: 0 -10px;
}

.footer__block {
    display: flex;
    width: 33.33%;
    padding: 0 10px;
}

.nav-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav-footer .nav__link {
    margin-right: 0;
    margin-bottom: 20px;
}